body {
    margin: 0px;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 800px) {
    div.art {
        width: 50%;
    }
}

@media (max-width: 400px) {
    div.art {
        width: 100%;
    }
}